---
const {title, institute, date} = Astro.props
---

<div class="course">
    <h3 class="medium-text">{title}</h3>
    <div class="course-details">
        <span>{institute}</span>
        <span style={{color: "#c5c5c5"}}>{date}</span>
    </p>
</div>
<style>
.course{
    padding-left: 30px;
    justify-content: flex-start;
    position: relative;
}
.course::after{
    content:"";
    position: absolute;
    left: 0px;
    top: 10%;
    height: 80%;
    width: 4px;
    background-color: white;
}
.course-details{
    display:flex;
    flex-direction:column;
    gap:8px;
}
</style>