<div id="egg-container">
  <p>
    Do you know 
    <a target="_blank" href="https://es.wikipedia.org/wiki/C%C3%B3digo_Konami#:~:text=El%20c%C3%B3digo%20Konami%3A%20Arriba%2C%20arriba,en%20la%20comunidad%20de%20videojuegos.">Konami Code</a>
    ? 👀
  </p>
</div>
<script>
  const konamiCode = [
  38, 38,
  40, 40,
  37, 39,
  37, 39,
  66, 65
]

let position = 0

window.addEventListener("keydown", (e) => {
  let keyPressed = e.keyCode
  if(konamiCode[position] === keyPressed){
    position += 1
  }

  if(position === 10){
    position = 0
    document.getElementById("egg-container").innerHTML = "<p>Nice! 🕹️</p>"
    document.getElementsByTagName("body")[0].style.fontFamily = '"Press Start 2P", system-ui';
    document.getElementsByTagName("html")[0].style.fontSize = "70%";
    document.getElementsByTagName("html")[0].style.fontWeight = "400";
    document.getElementsByTagName("html")[0].style.fontStyle = "normal";
    document.getElementsByTagName("h1")[0].style.lineHeight = "36px";
    document.getElementsByClassName("header-text")[0].style.lineHeight = "24px";
    document.getElementsByClassName("container")[0].style.animation = "hide-and-show 1.5s ease-in-out";
    window.setTimeout(() => {
      window.scroll({top: 0})
    }, 200)
  }
})
</script>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Press+Start+2P&display=swap');
</style>
<style is:global>
  @keyframes hide-and-show{
    0%{
      opacity: 0;
    }

    33%{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
</style>
<style>
  a{
    color: white;
  }
</style>