---
import Tag from "./Tag.astro"
import Anchor from "./Anchor.astro"
---


<header>
    <figure class="foto-perfil">
        <img src="/foto-mia.webp" alt="" width="216px">
    </figure>
    <h1 class="bigger-text">Soy Mirko, <span class="developer-title">desarrolador de software.</span></h1>
    <h2 class="medium-text header-text">
        Entusiasta del desarrollo de software. Estudiante de Ingeniería Informatica. 
        <span style="text-shadow:0px 0px 2px rgb(255,255,255,.5);">Aprendiendo diariamente.</span>
    </h2>
    <div class="social-medias">
        <Anchor icon="/github.svg" url="https://github.com/mirkete" color="white" text="GitHub"/>
        <Anchor icon="/linkedin.svg" url="https://www.linkedin.com/in/mirko-s%C3%A1enz-valiente-515673194/" color="#43c5e1" text="LinkedIn"/>
    </div>
</header>
<style>
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        text-wrap: wrap;
        margin: 24px 0;
    }

    .foto-perfil{
        flex-basis: 100%;
        margin: 0;
    }

    .foto-perfil img{
        border-radius: 50%;
    }

    .social-medias{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    .developer-title{
        color: transparent;
        background: linear-gradient(#6f6f6f, #ffffff);
        background-clip: text;
        --webkit-background-clip:text;
    }

    @media (width >= 1200px){
        header{
            justify-content: flex-start;
            align-content: center;
            text-align: left;
            margin: 72px 0px 36px 0px;
            width: 800px;
            text-wrap: pretty;
        }

        .social-medias{
            justify-content: flex-start;
        }
    }

    @media (width >= 1600px){
        header{
            width: 950px;
        }
    }
</style>