---
const { name, description, image, url } = Astro.props
---

<div class="project">
    <div>
        <a target="_blank" class="medium-text project-anchor" href={url}>
            {name}
            <img src="/redirect.svg" width="22px" alt="">
        </a>
        <p class="small-text">{description}</p>
    </div>
    <div class="project-image-container">
        <img class="project-image" src={image} alt="">
    </div>
</div>
<style>
    .project{
        display: flex;
        gap: 12px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .project-details p{
        margin: 0;
    }
    
    .project h3{
        margin: 0;
    }
    
    .project-anchor{
        text-decoration: underline;
        display: flex;
        align-items: center;
        gap: 12px;
        color: black;
        opacity: .9;
        font-weight: 700;
    }

    .project-image-container{
        display: flex;
        justify-content: flex-end;
        flex: 1 0 20%;
    }
    
    .project-image{
        width: 110px;
        object-fit: cover;
        border-radius: 12px;
    }
</style>