<div class="project">
    <img class="project-image" src="https://static.semrush.com/blog/uploads/media/ed/9b/ed9b42a338de806621bdaf70293c2e7e/image.png" alt="">
    <div>
        <a class="medium-text project-anchor" href="/">
            Home Storage
            <img src="/redirect.svg" width="22px" alt="">
        </a>
        <p class="small-text">Aplicación simple que permite intercambiar archivos mediante la red local</p>
    </div>
</div>
<style>
    .project{
        position: relative;
        display: flex;
        gap: 12px;
        flex-direction: column;
        align-items: flex-start;
        z-index: 10;
    }

    .project h3{
        margin: 0;
    }

    .project-anchor{
        text-decoration: underline;
        display: flex;
        align-items: center;
        gap: 12px;
        color: black;
        opacity: .9;
        font-weight: 700;
    }

    .project-image{
        display: none;
    }

    @media (width >= 650px){
        .project{
            flex-direction: row;
        }

        .project-image{
            width: 150px;
        }
    }
</style>