---
const {title, animated} = Astro.props
const animatedClass = animated ? "animate-scroll" : ""
---

<section class=`section ${animatedClass}`>
    <header><h2>{title}</h1></header>
    <slot/>
</section>